@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  margin: auto;
  letter-spacing: 0.1px;
  line-height: 1.6;
  overflow-x: hidden;
}

header {
  top: 0;
}

header, nav {
  position: fixed;
  width: 100%;
  background-color: #222;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

/* Add styles for navigation bar */
nav {
  z-index: 99999;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #0bbba0;
  color: black;
}

nav .nav-icon {
  display: none;
}

nav .active {
  background-color: #0bbba0;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 500;
}

header h2 {
  font-size: 1em;
  font-weight: 300;
}

main {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  z-index: -2 !important;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #36a9a9;
  color: #fff;
  padding: 5px 15px;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
}

.back-to-top:hover {
  background-color: #135656;
}

h1, h2, h3, h4, h5, h6, p, div, section {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  header {
    font-size: 24px;
  }

  nav a:not(:first-child) {display: none;}
	nav a.nav-icon {
			float: right;
			display: block;
	}
  nav.responsive {
      position: relative;
  }

  nav.responsive a.nav-icon {
      position: absolute;
      right: 0;
      top: 0;
  }

  nav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }

  article {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 480px) {
  header {
    font-size: 20px;
    position: fixed;
  }

  article {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Blog */
.hero figure {
  max-width: 100%;
  margin: 0 !important;
}

article {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  line-height: 2.5;
  letter-spacing: 0.1px;
}

article .author h5, article .author p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  opacity: .8;
}

article .author a {
  color: #222;
  text-decoration: unset;
}

article .title {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .2px;
}

article .subtitle {
  font-size: 1.5em;
  opacity: .8;
  line-height: 1;
  font-weight: 600;
  letter-spacing: .2px;
}

article h3, article h4, article strong {
  font-weight: 500;
}

footer {
  text-align: center;
  margin-top: 50px;
}

footer a {
  text-decoration: unset;
  color: #135656;
}
